.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    background-color: #1f6d58;
}

.menu-item {
    padding: 15px;
    text-align: center;
    color: #fff;
    background-color: #1f6d58;
}

.menu-item:hover {
    background-color: #3bb493;
}