body {
    display: block;
}

.sem-margem {
    margin: 0;
}

.vertical-inteira {
    height: 100%;
    display: inline-block;
}

.metade-horizontal {
    width: 50%;
    float: left;
}

.quadrado {
    width: 100px;
    height: 100px;
}

.img-pequena {
    height: 100%;
}

.direita {
    float: right;
}

.esquerda {
    float: left;
}