body {
    display: block;
}

.menu {
    height: 100px;
    width: 100%;
    display: inline-block;
    background-color: #515569;
}

.sem-margem {
    margin: 0;
}

.img-pequena {
    height: 100%;
}

.direita {
    float: right;
}

.esquerda {
    float: left;
}